body {
    overflow-y: hidden;
}

.menuAtivo {
    border-bottom: 2px solid #000;
}
.rows{
	height: 5px;
	border: 0;
	box-shadow: 0 5px 5px -5px #8c8b8b inset;
}

.lerMenos{
	display: none;
}

.imgMobile{
	float: none;
}

@media only screen and (min-width: 768px){
	.imgMobile{
		width: 350px;
		float: left;
	}
}
